<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <header class="row">
   
      <div class="col-3">

        <div class="circle">
          <br />
          CAN
          <br />
          YOU
          <br />
          RELATE?
        </div>

      </div>

      <div class="col-4 slogan">
        Splurting out relationship advise 24/7
      </div>

      <div class="col-5 links">
        <%= link_to 'Share a Quote', '#' %>
        <%= link_to 'About', '#' %>
      </div>

    </header>

    <hr />

    <br class="clear" />
    
    <div class="container">

     <%= yield %>

    </div>

       <footer class="footer">
      
      <div class="col-6 footer-blurb">
        
        <%= link_to "Splurting out relationship advise 24/7", "#", class: 'next-quote' %>

      </div>

       <div class="col-6 footer-blurb">
        Built by <a href="[YOUR_PORTFOLIO_URL]">Stallone Dias</a><br />
        Want to build your own Splurty Web App? - <a href="https://online.bootcampspot.com">Learn how to code here</a>
      </div>

    </footer>

  </body>
</html>
